html ,body {
    height :100%;

}

.container {
    background-color:teal;
    height:50%;
    width:100%;
}
.container label {
    font-size: 2em;
    font-family: sans-serif;
    color:red;
    padding:100px;
}
.content {
    background-color: rosybrown;
    height:50%;
    width:100%;
    margin:0;
    padding-top: 5px;
    
}
.content h2{
    font-family: serif;
    color:blue;
    text-align: center;

}
.section-one {
    margin-top:20px;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 50% 2fr;
    grid-gap:10px;
}

.section-one .left-section {
    width:100%;
    display: inline-block;
    padding:10px;
    

    
}
.section-one .left-section ul {
    color:yellow;

}

.section-one .left-section li {
    font-size: 20px;
    margin-top:8px;
    margin-bottom: 8px;
    list-style:none;
    border-bottom: 1px solid #444;
    padding:10px;

}

.section-one .right-section {
    width:100%;
    display: inline-block;

}

.section-one .right-section img {
    width: 180px;
    height: 150px;
    padding:15px;
    justify-content: center;
    align-content: center;
   
}
   
